<div>
    <canvas id="myChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const labels = [[/- label; /]];

    const data = {
        labels: labels,
        datasets: [{
            label: 'DCA Buy Amount By Order',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [[/- data; /]],
        }]
    };

    const config = {
        type: 'bar',
        data: data,
        options: {
            responsive: true,
        }
    };
</script>

<script>
    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
</script>